* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

/* estilos que afectan al scrollbar (pseudo elemento) */
::-webkit-scrollbar {display: none;}

@media only screen and (min-width:1350px){ /* DESKTOP */
    ::-webkit-scrollbar {display:initial!important;}
}

/* Fuentes descargadas */
@font-face {
    font-family: 'Indie Flower';
    src: url(../fonts/IndieFlower-Regular.ttf);
}

/* Estilos TAG */
nav, header, main, footer {
    width: 100%;
    max-width: 1920px;
}

body {
    width: 100%;
    max-width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 100%;
    padding: 60px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* Variables */
:root {
    --font1: "Montserrat", sans-serif;
    --font2: 'Indie Flower';
    --color1: white;
    --color2: black;
    --color3: rgb(180, 103, 135);
}


/* Colores */
.color1 {color: var(--color1);}
.color2 {color: var(--color2);}
.color3 {color: var(--color3);}


/* Textos */
p {
    font-family: var(--font1);
    font-size: 1rem;
    font-weight: 300;
    font-style: normal;
    line-height: 1.5;
    color: var(--color2);
}

h1 {
    font-family: var(--font2);
    font-size: 4rem;
    font-weight: 600;
    font-style: normal;
}
@media only screen and (min-width:600px){ /* TABLET */
    h1 {font-size: 8rem;}
}

h2 {
    font-family: var(--font2);
    font-size: 3rem;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 2rem;
}

h3 {
    font-family: var(--font1);
    font-size: 2rem;
    font-weight: 600;
    font-style: normal;
}

h4 {
    font-family: var(--font1);
    font-size: 1.5rem;
    font-weight: 500;
    font-style: normal;
}

.txtC {text-align: center;}
.txtJ {text-align: justify;}

a, a:visited { /* Enlaces */
    text-decoration: none;
    font-family: var(--font1);
}

.cita {
    font-family: var(--font1);
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    line-height: 1.5;
    color: var(--color2);
}

.comillas {
    font-family: "Source Sans 3", sans-serif;
    font-size: 5rem;
    font-weight: 500;
    font-style: normal;
    line-height: 0.1rem;
    vertical-align: -25px;
    color: var(--color3);
}

/* Componentes */
.boton {
    padding: 10px 30px;
    background-color: var(--color3);
    border: solid 2px var(--color3);
    border-radius: 5px;

    font-size: 1rem;
    font-weight: 500;
    font-style: normal;
    line-height: 1.5rem;
    color: var(--color1);

    transition: ease-in-out 0.4s;
}
.boton:hover {
    background-color: var(--color1);
    color: var(--color3);
}

.block {display: block;}

/* Anchuras */
.w100 {width: 100%;}
.w50 {width: 50%;}


/* Margenes */
.mb50 {margin-bottom: 50px;}
.mb20 {margin-bottom: 20px;}
.mb1rem {margin-bottom: 1rem;}

.mt50 {margin-top: 50px;}


/* HERO */
nav {
    height: 6vh;
    background-color: var(--color2);
}

header {
    height: 94vh;
    background-image: url(https://dummyimage.com/430x900);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 10vh;
}
@media only screen and (min-width:600px){ /* TABLET */
    header {background-image: url(https://dummyimage.com/1024x1350);}
}
@media only screen and (min-width:1024px){ /* DESKTOP */
    header {background-image: url(https://dummyimage.com/1920x1000);}
}


/* Articulo tipo 1 */
.articulo1 {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 40px;
}

.articulo1 .cajaimg  {
    width: 100%;
}

.articulo1 .cajaimg img {
    width: 100%;
    height: 100%;
}

.articulo1 .cajatxt {
    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 20px;
}

.articulo1 .cajatxt p {
    width: 100%;
}

@media only screen and (min-width:600px){ /* TABLET */
    .articulo1 .cajatxt {
        width: 90%;
    
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        row-gap: 20px;
    }
}

@media only screen and (min-width:1024px){ /* DESKTOP */
    .articulo1 {
        width: 80%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .articulo1 .cajaimg  {width: 48%;}

    .articulo1 .cajatxt {width: 48%;}
}


/* Articulo tipo 2 */
.articulo2 {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.articulo2 .cajatxt {
    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 20px;
}

.articulo2 .cuadricula {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}

.articulo2 .cuadricula >div {
    width: 100%;
    overflow: hidden;
}

.articulo2 .cuadricula >div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

@media only screen and (min-width:600px) { /* TABLET */
    .articulo2 .cuadricula {
        width: 90%;
    }
    .articulo2 .cuadricula >div {
        width: 30%;
        overflow: hidden;
        min-width: 300px;
    }
}

@media only screen and (min-width:1024px){ /* DESKTOP */
    .articulo2 .cajatxt {
        width: 80%;
    }

    .articulo2 .cuadricula {
        width: 80%;
        justify-content: space-between;
    }

    .articulo2 .cuadricula >div {
        width: 32%;
        overflow: hidden;
        min-width: 250px;
    }
}


/* Articulo tipo 3 */
.articulo3 {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.articulo3 .cajatxt {
    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 20px;
}

.articulo3 .cuadricula {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 0px;
}

.articulo3 .cuadricula >div {
    width: 100%;
    overflow: hidden;
}

.articulo3 .cuadricula >div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

@media only screen and (min-width:600px) { /* TABLET */
    .articulo3 .cuadricula >div {
        width: 50%;
        min-width: 300px;
    }
}

@media only screen and (min-width:1024px) { /* DESKTOP */
    .articulo3 .cajatxt {
        width: 80%;
    }

    .articulo3 .cuadricula >div {
        width: 25%;
        min-width: 250px;
    }
}


/* Articulo tipo 4 */
.articulo4 {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 60px;
}

.articulo4 >:nth-child(1) {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: 40px;
}

.articulo4 .cajaimg  {
    width: 100%;
}

.articulo4 .cajaimg img {
    width: 100%;
    height: 100%;
}

.articulo4 .cajatxt {
    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 20px;
}

.articulo4 >:nth-child(2) {
    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 40px;
}

.articulo4 .cuadricula {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.articulo4 .cuadricula img {
    width: 10%;
    height: 10%;
    min-width: 80px;
    min-height: 80px;
    max-width: 120px;
    max-height: 120px;
    border-radius: 50%;
}

.articulo4 .cuadricula p {width: 100%;}

@media only screen and (min-width:600px){ /* TABLET */
    .articulo4 .cuadricula {
        align-items: center;
    }

    .articulo4 .cuadricula p {width: 80%;}
}

@media only screen and (min-width:1024px){ /* DESKTOP */
    .articulo4 {width: 80%;}
    
    .articulo4 >:nth-child(1) {
        justify-content: space-between;
        row-gap: 20px;
    }

    .articulo4 .cajaimg  {
        width: 48%;
    }
    
    .articulo4 .cajatxt {
        width: 48%;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        row-gap: 20px;
    }

    .articulo4 >:nth-child(2) {
        width: 100%;
    }

    .articulo4 .cuadricula {
        justify-content: space-between;
    }

    .articulo4 .cuadricula p {width: 70%;}
}


/* Articulo tipo 5 */

.articulo5 {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 60px;
}

.articulo5 >:nth-child(1) {
    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 20px;
}

.articulo5 .cuadricula {
    width: 90%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
}

.articulo5 .cuadricula >div {
    width: 100%;
    border: solid 2px var(--color2);
    box-shadow: 10px 20px 0px var(--color3);
    padding: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 20px;
}

.articulo5 .cuadricula >div img {
    width: 10%;
    height: 10%;
    min-width: 80px;
    min-height: 80px;
    max-width: 120px;
    max-height: 120px;
    border-radius: 50%;

    align-self: center;
}

.articulo5 .cuadricula >div p {
    width: 100%;
}

@media only screen and (min-width:600px){ /* TABLET */
    .articulo5 >:nth-child(1) {
        width: 80%;
    }

    .articulo5 .cuadricula {
        width: 80%;
    }

    .articulo5 .cuadricula >div {
        width: 45%;
        min-width: 250px;
    }
}

@media only screen and (min-width:1300px){ /* DESKTOP */
    .articulo5 >:nth-child(1) {
        width: 50%;
    }

    .articulo5 .cuadricula >div {
        width: 22%;
        min-width: 300px;
    }
}


/* Articulo tipo 6 */

.articulo6 {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.articulo6 >:nth-child(2), .articulo6 >:nth-child(3), .articulo6 >:nth-child(5) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 20px;
}

.articulo6 .cajatxt {
    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 20px;
}

.articulo6 .cita {
    width: 80%;
    padding: 20px 0px 0px 30px;
    border-left: solid 3px var(--color3);
}

.articulo6 .cajaimg  {
    width: 100%;
}

.articulo6 .cajaimg img {
    width: 100%;
    height: 100%;
}

@media only screen and (min-width:1024px){ /* DESKTOP */
    .articulo6 >:nth-child(2), .articulo6 >:nth-child(5) {
        width: 80%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    .articulo6 >:nth-child(3) {
        width: 80%;

        display: flex;
        flex-direction: row-reverse; /* Muy bien Maddi!! */
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    .articulo6 .cita {
        width: 50%;
    }

    .articulo6 .cajatxt {
        width: 48%;
    }
    
    .articulo6 .cajaimg  {
        width: 48%;
    }
}


/* Articulo tipo 7 */
.articulo7 {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 40px;
}

.articulo7 >p {
    width: 90%;
}

.articulo7 .caja1, .articulo7 .caja2 {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: 20px;
}

.articulo7 .cajatxt {
    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.articulo7 .cajaimg {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.cajaimg >div {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.cajaimg img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center center;
}


@media only screen and (min-width:600px){ /* TABLET */
    .articulo7 >p {
        width: 50%;
    }

    .articulo7 .caja1, .articulo7 .caja2 {
        width: 80%;
    }

    .articulo7 .cajatxt {
        width: 98%;
    }

    .articulo7 .caja1 .cajaimg {
        width: 100%;
    }

    .articulo7 .caja2 .cajaimg {
        width: 100%;
        flex-direction: row-reverse;
    }

    .cajaimg >div {
        width: 32.6%;
        align-content: space-between;
    }

    .cajaimg >img {
        width: 64.9%;
        height: 64.9%;
    }
}

@media only screen and (min-width:1300px){ /* DESKTOP */
    .articulo7 {gap: 10px;}

    .articulo7 .caja1 {
        justify-content: space-between;
        align-items: center;
    }

    .articulo7 .caja2 {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .articulo7 .caja1 .cajatxt {
        width: 40%;
        padding-right: 50px;
        align-items: flex-start;
    }

    .articulo7 .caja2 .cajatxt {
        width: 40%;
        padding-left: 50px;
        align-items: flex-start;
    }

    .articulo7 .caja1 .cajaimg {
        width: 60%;
    }

    .articulo7 .caja2 .cajaimg {
        width: 60%;
    }

     .cajaimg >div {
        width: 33%;
    }

    .cajaimg >img {
        width: 65.4%;
        height: 65.4%;
    }
}