/* PARAMETROS GENERALES */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

nav,header,main,footer,body {
    width: 100%;
    max-width: 2560px;
}

:root {
    --color01:white;
    --color02:rgb(36, 35, 35);
    --color03:#D8D8FF;

    --fuente1: Verdana;
    --fuente2: Arial;
    --fuente3:'IndieFlower-Regular';
}

.fondoazul {
    background-color: var(--color03);
}

.oculto {
    display: none;
}
/* FUENTES DESCARGADAS */

@font-face{
    font-family:"IndieFlower-Regular" ;
    src: url(../fonts/IndieFlower-Regular.ttf);
  }


/* ETIQUETAS */
section{
    padding: 2rem 0;
    row-gap: 2rem;
}
/* TABLET */
@media only screen and (min-width:800px){
    section{
    width: 100%;
    padding: 3rem 0;
  }
}
/* DESKTOP */
@media only screen and (min-width:1350px){
section{
    padding: 4rem 0;
    row-gap: 4rem;
  }
}

 nav {
    height: 60px;
    background-color:var(--color03);
    position: fixed;
    top:0;
    z-index: 999;  
 }

 a, a:visited{
    color: var(--color00);
    text-decoration: none;
}

/* TEXTOS */
h1, h2, h3, h4,p{
    font-family: var(--fuente2);
}

h1{
    font-size: 3rem;
    color: var(--color02);
    padding: 0 2rem;    
    text-align: center;
}

h2{
    font-family:var(--fuente3);
    font-size: 2rem;
    color: var(--color02);
    padding: 20px 20px;
    
}

 /* TABLET */
 @media only screen and (min-width:800px) {

h2{
    text-align: center;
    }
}


h3{
    font-size: 1.5rem;
    color: var(--color02);
    }

h4{
    font-size: 1.2rem;
    color: var(--color02);
    }

p{
    font-size: 1.1rem;
    line-height: 1.4rem;
    color: var(--color02);
    }


/*----HEADER----*/

 header {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url('https://dummyimage.com/390x844');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    }

 /* TABLET */
@media only screen and (min-width:800px) {
  
header {
    background-image: url('https://dummyimage.com/800x600');
    }
}

/* DESKTOP */
@media only screen and (min-width:1350px) {

header {
    background-image: url('https://dummyimage.com/1350x1080');
    }
}   


/* ESTILOS PARA ARTÃCULOS*/

/*----ARTICULO1----*/

.art01{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap:2rem;
    }
.art01 >:nth-child(1){
    width: 100%;
    overflow: hidden;
    }

.art01 >:nth-child(1) img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    } 

.art01 :nth-child(2) {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start ;
  justify-content: flex-start;
  gap: 1rem;
}

@media only screen and (min-width:1024px) {
    .art01{ 
    justify-content:space-between;
    width: 80%;
    margin: auto;
    }

    .art01 >:nth-child(1){
        width: 40%;
        overflow: hidden;
    }
    .art01 >:nth-child(2){
    width: 45%;
            
}
}

/*----ARTICULO2----*/

.art02 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap:1rem;
    }

@media only screen and (min-width:1024px) {
    .art02 {
    width: 80%;
    }
}

.art02>:nth-child(1) {
    width:90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    }

@media only screen and (min-width:800px) {
    .art02>:nth-child(1) {
        width:80%;
        
    }
}

/* DESKTOP */
@media only screen and (min-width:1350px) {
    .art02>:nth-child(1) {
    padding: 0rem;
        
    }
}

.art02 .matriza3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: 1rem;
}


 /* TABLET */
 @media only screen and (min-width:800px) {
.art02 .matriza3{
    width: 80%;
    padding-top: 1.5rem;
    margin: auto;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    column-gap: 3rem;
    row-gap: 3rem ;
    flex-wrap:wrap;
    }
}

/* DESKTOP */
@media only screen and (min-width:1350px) {
.art02 .matriza3{
    padding-top: 2rem;
    width: 80%;
    justify-content: space-between;
    flex-wrap:nowrap;
    }
}

@media only screen and (min-width:1350px) {

    .art2 .matriza3 img {
        width: 300px;
        }
}



/*----ARTICULO3----*/

.art03 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
}   

@media only screen and (min-width:800px) {
.art03 {
    width: 80%;
    margin: auto;
    }
}   

.art03 .matriza4{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 1rem;
}

@media only screen and (min-width:800px) {
.art03 .matriza4 {
        width: 100%;
        margin: auto;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        }
    }   

.imgfondom4 {

    width: 49%;
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url('https://dummyimage.com/450x350');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    }


.art03 .matriza4 h4{
    font-size: 1.5rem;
    font-family: var(--fuente2);
    color:black;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media only screen and (min-width:800px){ 
.art03 .matriza4 h4{
    margin-left: 20vh;
    margin-top: 10vh;
}
}
.art03>:nth-child(1){
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: 1.5rem;
}


 /* TABLET */
 @media only screen and (min-width:800px) {
    .art03 .matriza4{
        width: 100%;
        margin: auto;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 1rem;
        flex-wrap:wrap;
        row-gap: 1rem;
        }
    }

    
    

/*----ESTILOS----*/

.boton{
  font-family: var(--fuente2);
  font-size: 1rem; 
  padding: 0.3rem 2rem;
  color: var(--color00);
  background-color: var(--color03);
}
.boton:hover{
  color: var(--color00);
  background-color: var(--color01);
}

.boton:active{
  transform: scale(.95);
}


