/* PARAMETROS GENERALES */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

nav,header,main,footer,body {
    width: 100%;
    max-width: 2560px;
}

:root {
    --color01:white;
    --color02:rgb(36, 35, 35);
    --color03:#D8D8FF;

    --fuente1: Verdana;
    --fuente2: Arial;
    --fuente3:'IndieFlower-Regular';
}

.fondoazul {
    background-color: var(--color03);
}

.oculto {
    display: none;
}
/* FUENTES DESCARGADAS */

@font-face{
    font-family:"IndieFlower-Regular" ;
    src: url(../fonts/IndieFlower-Regular.ttf);
  }


<<<<<<< HEAD
 

/* ETIQUETAS */
=======
/* ETIQUETAS */
section{
    padding: 2rem 0;
    row-gap: 2rem;
}
/* TABLET */
@media only screen and (min-width:800px){
    section{
    width: 100%;
    padding: 3rem 0;
  }
}
/* DESKTOP */
@media only screen and (min-width:1350px){
section{
    padding: 4rem 0;
    row-gap: 4rem;
  }
}
>>>>>>> f80afb3d2fbcd2d10e1730aff13f6b640e88fb69

 nav {
    height: 60px;
    background-color:var(--color03);
    position: fixed;
    top:0;
    z-index: 999;  
 }

<<<<<<< HEAD
/*-----HEADER------*/

/*MOBILE IPHONE12 PRO*/
=======
 a, a:visited{
    color: var(--color00);
    text-decoration: none;
}

/* TEXTOS */
h1, h2, h3, h4,p{
    font-family: var(--fuente2);
}

h1{
    font-size: 3rem;
    color: var(--color02);
    padding: 0 2rem;    
    text-align: center;
}

h2{
    font-family:var(--fuente3);
    font-size: 2rem;
    color: var(--color02);
    padding: 20px 20px;
    
}

 /* TABLET */
 @media only screen and (min-width:800px) {

h2{
    text-align: center;
    }
}


h3{
    font-size: 1.5rem;
    color: var(--color02);
    }

h4{
    font-size: 1.2rem;
    color: var(--color02);
    }

p{
    font-size: 1.1rem;
    line-height: 1.4rem;
    color: var(--color02);
    }


/*----HEADER----*/

>>>>>>> f80afb3d2fbcd2d10e1730aff13f6b640e88fb69
 header {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url('https://dummyimage.com/390x844');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    }

<<<<<<< HEAD
 /*TABLET IPAD AIR*/
 @media only screen and (min-width:800px) { 

 header {
    background-image: url('https://dummyimage.com/ 800x1100');
}
}

/*DESKTOP */
@media only screen and (min-width:1024px) {
  header {
    background-image: url('https://dummyimage.com/ 1200x800');
  }
  }
   
section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    overflow-x: hidden;
    max-width: 100%;
    max-width: 2560px;
 }

 a {
    text-decoration: none;
    text-align: center;
 }

 /* estilos de texto */
 
 h1 {
    font-family: var(--fuente1);
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    color: var(--color03);
 }

 h2 {
    font-family: var(--fuente3);
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    color: var(--color02);
 }

 h3 {
    font-family: var(--fuente1);
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
    color: var(--color02);
}

.hache3alt {
  font-family: var(--fuente1);
  font-size: 3rem;
  text-align: center;
  font-weight: 700;
  color: var(--color02);

}

h4 {
  font-family: var(--fuente1);
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--color02);
}
=======
 /* TABLET */
@media only screen and (min-width:800px) {
  
header {
    background-image: url('https://dummyimage.com/800x600');
    }
}

/* DESKTOP */
@media only screen and (min-width:1350px) {

header {
    background-image: url('https://dummyimage.com/1350x1080');
    }
}   
>>>>>>> f80afb3d2fbcd2d10e1730aff13f6b640e88fb69


/* ESTILOS PARA ARTÍCULOS*/

/*----ARTICULO1----*/

<<<<<<< HEAD
.centrado {
   text-align: center;
}

/*articulos y displays*/

.art01 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap:1rem;
}


/*TABLET IPAD AIR*/
@media only screen and (min-width:800px) { 

.art01{
  width: 80%;
}
}

@media only screen and (min-width:1024px) { /* DESKTOP */
.frowC {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap:10px;
    text-align: center;
}
}

@media only screen and (min-width:1024px) { /* DESKTOP */
.fcolSC {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
}

.fcolSS {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap:1.5rem;
}


@media only screen and (min-width:1024px) { /* DESKTOP */
  .fcolSB {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
  }
  }


.fwrap {
    flex-wrap:wrap;  
}

.flb {
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    margin: auto;
  }


/*boton*/

.boton {
    padding: 1rem;
    background-color: var(--color03);
    font-family: var(--fuente1);
    color: var(--color02);
  }

.boton:hover {
    background-color: var(--color01);
    transition: 0.5s;
    color: var(--color02);
    border:solid 2px var(--color02)
  }

.boton:active {
    background-color: var(--color02);
    transition: 0.5s;
    color: var(--color01);
    border:solid 2px var(--color02)
  }

.botonblanco {
    padding: 1rem;
    background-color: var(--color01);
    font-family: var(--fuente1);
    color: var(--color02);
  }

  .botonblanco:hover {
    background-color: var(--color02);
    transition: 0.5s;
    color: var(--color01);
    border:solid 2px var(--color01)
  }
/*anchos*/

@media only screen and (min-width:1024px) { /* DESKTOP */
.w100{
     width: 100%;
    }
  }

 

@media only screen and (min-width:1024px) { /* DESKTOP */
.w80{
      width: 80%;
      margin: auto;
    }
  }

@media only screen and (min-width:1024px) { /* DESKTOP */
.w75 {
  width: 75%;
          }
        }

.w70 {
    width: 100%;
        }
              
@media only screen and (min-width:1024px) { /* DESKTOP */
.w70 {
        width: 70%;
      }
=======
.art01{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap:2rem;
    }
.art01 >:nth-child(1){
    width: 100%;
    overflow: hidden;
>>>>>>> f80afb3d2fbcd2d10e1730aff13f6b640e88fb69
    }

.art01 >:nth-child(1) img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    } 

<<<<<<< HEAD
@media only screen and (min-width:1024px) { /* DESKTOP */
.w60 {
      width: 60%;
      padding-top: 1.5rem;
      margin: auto;
      }
    }


.w40 {
    width: 40%;
      
    
    }

.w10 {
  width: 10%;
}

/*imagenes*/
.objectfit {
  object-fit: cover;
}


 
/*columnas*/


/* 2 columnas*/


@media only screen and (min-width:1024px) { /* DESKTOP */
.doscolizq {
      width: 45%;
      max-width: 500px;
      min-width: 300px;
      object-fit: cover;
    }
  }

@media only screen and (min-width:1024px) { /* DESKTOP */
.doscolder {
      width: 50%;
    }
  }
 
/* 3 columnas*/
@media only screen and (min-width:1024px) { /* DESKTOP */
.trescol {
      width: 31%;
      max-width: 600px;
      min-width: 300px;
    }
  }

/* 4 columnas*/
@media only screen and (min-width:1024px) { /* DESKTOP */
  .cuatrocol {
        width: 23%;
        max-width: 600px;
        min-width: 200px;
      }
    }


/*paddings y margenes*/


@media only screen and (min-width:1024px) { /* DESKTOP */
.pt70 {
padding-top: 70px;
}
}

@media only screen and (min-width:1024px) { /* DESKTOP */
.pt50 {
  padding-top: 50px;
}
}

@media only screen and (min-width:1024px) { /* DESKTOP */
  .pb50 {
    padding-bottom: 50px;
  }
  }

.pb30 {
  padding-bottom: 30px;
}

.pr15 {
  padding-right: 15px;
}

.pl15 {
  padding-left: 15px;
}

.pt20 {
  padding-top: 10px;
}

.pd30 {
  padding: 30px
}

.pl150 {
  padding-left: 150px;
}


/*imágens y fotos*/
.redondeado {
  border-radius: 50%;
}


/*cita*/
.cita {
  margin: auto;
  width: 70%;
=======
.art01 :nth-child(2) {
  width: 90%;
>>>>>>> f80afb3d2fbcd2d10e1730aff13f6b640e88fb69
  display: flex;
  flex-direction: column;
  align-items: flex-start ;
  justify-content: flex-start;
  gap: 1rem;
}

<<<<<<< HEAD
/*articulos*/

.articulo1 {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: FZZ;
  gap:10px;
  text-align: center;
  flex-wrap: wrap;
  padding-top: 0px;
}



.articulo8 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  justify-content: space-between;
  align-items: center;
  column-gap: 4rem;

  font-family: var(--fuente1);
  font-size: 18px;
  line-height: normal;

  object-fit: cover;
  padding: 7rem;
  
}

  
.articulo8 p {
  width: 80%;
  }


  .circulitoizq{
    padding-top: 10rem;
    width: 65%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    object-fit: cover;
    gap: 2rem;
   
  }

  .colcirculito1{
    width:30%;
    max-width: 300px;
    min-width: 300px;
    object-fit: cover;
  }

  .colcirculito2{
    width:60%;  
  }

  .circulitocentro{
    padding-top: 8rem;
    width: 65%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    object-fit: cover;
    gap: 2rem;
    margin:auto;
  }

  .circulitoder {
    padding-top: 8rem;
    width: 65%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items:center;
    gap: 2rem;
    margin-right: 50%;
  }


  


 





  


=======
@media only screen and (min-width:1024px) {
    .art01{ 
    justify-content:space-between;
    width: 80%;
    margin: auto;
    }

    .art01 >:nth-child(1){
        width: 40%;
        overflow: hidden;
    }
    .art01 >:nth-child(2){
    width: 45%;
            
}
}
>>>>>>> f80afb3d2fbcd2d10e1730aff13f6b640e88fb69

/*----ARTICULO2----*/

.art02 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap:1rem;
    }

@media only screen and (min-width:1024px) {
    .art02 {
    width: 80%;
    }
}

.art02>:nth-child(1) {
    width:90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    }

@media only screen and (min-width:800px) {
    .art02>:nth-child(1) {
        width:80%;
        
    }
}

/* DESKTOP */
@media only screen and (min-width:1350px) {
    .art02>:nth-child(1) {
    padding: 0rem;
        
    }
}

.art02 .matriza3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: 1rem;
}


 /* TABLET */
 @media only screen and (min-width:800px) {
.art02 .matriza3{
    width: 80%;
    padding-top: 1.5rem;
    margin: auto;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    column-gap: 3rem;
    row-gap: 3rem ;
    flex-wrap:wrap;
    }
}

/* DESKTOP */
@media only screen and (min-width:1350px) {
.art02 .matriza3{
    padding-top: 2rem;
    width: 80%;
    justify-content: space-between;
    flex-wrap:nowrap;
    }
}

@media only screen and (min-width:1350px) {

    .art2 .matriza3 img {
        width: 300px;
        }
}



/*----ARTICULO3----*/

.art03 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
}   

@media only screen and (min-width:800px) {
.art03 {
    width: 80%;
    margin: auto;
    }
}   

.art03 .matriza4{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 1rem;
}

@media only screen and (min-width:800px) {
.art03 .matriza4 {
        width: 100%;
        margin: auto;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        }
    }   

.imgfondom4 {

    width: 49%;
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url('https://dummyimage.com/450x350');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    }


.art03 .matriza4 h4{
    font-size: 1.5rem;
    font-family: var(--fuente2);
    color:black;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media only screen and (min-width:800px){ 
.art03 .matriza4 h4{
    margin-left: 20vh;
    margin-top: 10vh;
}
}
.art03>:nth-child(1){
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: 1.5rem;
}


 /* TABLET */
 @media only screen and (min-width:800px) {
    .art03 .matriza4{
        width: 100%;
        margin: auto;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 1rem;
        flex-wrap:wrap;
        row-gap: 1rem;
        }
    }

    
    

/*----ESTILOS----*/

.boton{
  font-family: var(--fuente2);
  font-size: 1rem; 
  padding: 0.3rem 2rem;
  color: var(--color00);
  background-color: var(--color03);
}
.boton:hover{
  color: var(--color00);
  background-color: var(--color01);
}

.boton:active{
  transform: scale(.95);
}


