/* RESETS */
* {
    margin: 0;
    padding: 0;
    outline:0;
    box-sizing: border-box;
}
a, a:visited{
    color: inherit;
    text-decoration: none;
}

/* VARIABLES */

:root {
    --colormio00: white;
    --colormio01:rgb(44, 44, 44);
    --colormio02:rgb(216, 216, 255);
    --colormio03: rgb(169, 169, 169);

    --fuentemia00:"Noto Sans", sans-serif;
    --fuentemia01:"Freeman", sans-serif;
    --padTexto: 1.5rem;

}

/* DAR TEXTOS DE ALTA */

@font-face {
    font-family: 'NOTO SANS';
    src: url('../fonts/Noto_Sans/NotoSans-Italic-VariableFont_wdth\,wght.ttf');
}

@font-face {
    font-family: 'NOTO SANS 2';
    src: url('../fonts/Noto_Sans/NotoSans-VariableFont_wdth\,wght.ttf');
}

/* TAGS PRINCIPALES */

body, section {
    width: 100%;
    max-width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
}

nav, header, main, footer{
    width: 100%;
    max-width: 100%;
}

/* media desktop */

@media only screen and (min-width:1350px) {
    nav, header, main, footer{
        max-width: 2560px;
    }

}

section {
    padding: 2rem 0rem;
    row-gap: 2rem;
}

/* media TABLET */

@media only screen and (min-width:800px) {
    section {
        padding: 2.5rem 0rem;
        
    }
}

/* media DESKTOP */

@media only screen and (min-width:1350px) {
    section {
        padding: 3rem 0rem;
        row-gap: 3rem;
    }
    
}

main >:nth-child(odd) {
    background-color: var(--colormio00);
}

main >:nth-child(even) {
    background-color: var(--colormio02);
}


/* ENCABEZADOS, ETC */

h1, h2, h3, h4 {
    font-family: var(--fuentemia01);
}

p, a {
    font-family: var(--fuentemia01);
}
h1 {
    
    font-size: 4rem;
    letter-spacing: normal;
    color: var(--colormio01);
    padding: 0.5rem;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    font-size: 2rem;
    letter-spacing: 2px;
    padding: 0 2rem;
}

h3 {
    font-size: 1.5rem;
    letter-spacing: 1px;
}
h4 {
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: var(--color01);
}


/* CLASES GLOBALES */
.boton1 {
    font-size: 1.3rem;
    letter-spacing: 2px; 
    padding: 0.3rem 2rem;
    color: var(--colormio01);
    background-color: var(--colormio02);
    border-radius: 5px;
}

.boton1:hover {
    color: var(--colormio00);
    background-color: var(--colormio01);
}

/* SECCIONES DE LA WEB */

nav{
   height: 50px;
   background-color: var(--colormio02);
   position: fixed;
   top:0;
   z-index: 100;
  
}

header {
    height: 100vh;
    background-image: url('https://dummyimage.com/300x600');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;   
}

@media only screen and (min-width:800px) {
    header {
        background-image: url('https://dummyimage.com/800x600');  
    }   
}
@media only screen and (min-width:1350px) {
    header {
        background-image: url('https://dummyimage.com/1400x600');
    }
}

/* RECURSOS------- */
/* ARTÍCULO TIPO 1 */

.art01 {
    width: 100%;
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;    
}

@media only screen and (min-width:800px) {
    .art01 {
        width: 80%;
        justify-content: space-between;
    }
}

.art01 >:nth-child(1) {
    width: 100%;
    
}

@media only screen and (min-width:1350px) {
    .art01 >:nth-child(1) {
        width: 50%;
        
    }   
}

.art01 >:nth-child(2) {
    width: 100%;
    padding: var(--padTexto);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;
}

@media only screen and (min-width:1350px) {
    .art01 >:nth-child(2) {
        width: 40%;
        
    }
}

.art01 >:nth-child(2) h3, .art01 >:nth-child(2) a {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

@media only screen and (min-width:800px) {
    .art01 >:nth-child(2) h3, .art01 >:nth-child(2) a {
        position: left;
        left: 0%;
        transform: translateX(0%);
    }
}
.art01 >:nth-child(1) img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* RECURSOS------- */
/* ARTÍCULO TIPO 2 */

.art02 {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 1rem;
}

@media only screen and (min-width:800px) {
    .art02 {
        width: 80%;
    }
}

.art02 >:nth-child(1), .art02 >:nth-child(2) {
    padding: var(--padTexto);
    
}
.red1 {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
}

@media only screen and (min-width:1350px) {
    .red1 {
        justify-content: space-between;
    }
}

.art02 .red1 >div {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.art02 .red1 div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media only screen and (min-width:800px) {
    .art02 .red1 div{
        width: 40%;
    }
}
@media only screen and (min-width:1350px) {
    .art02 .red1 div{
        width: 30%;
    }
}

/* RECURSOS------- */
/* ARTÍCULO TIPO 3 */

.art03 {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    row-gap: 1.5rem;
}

.art03 >:nth-child(1) {
    width: 80%;
    padding: var(--padTexto);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 1rem;
}
@media only screen and (min-width:800px) {
.art03 >:nth-child(1) p {
    width: 60%;
}
}
.art03 .red2 {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    
}

.art03 .red2 >div {
    width: 100%;
    height: 400px;
    position: relative;
}

.art03 .red2 >div h4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

@media only screen and (min-width:800px) {
    .art03 .red2 >div {
        width: 48%;       
    }
}
@media only screen and (min-width:1350px) {
    .art03 .red2 >div {
        width: 24%;      
    }
}
.art03 .red2 >div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
} 
.art03 .red2 >div h4 {
    font-size: 1.5rem;
    color: var(--colormio00);
}

/* RECURSOS------- */
/* ARTÍCULO TIPO 4 */

.art04 {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: 1.5rem;   
}
@media only screen and (min-width:1350px) {
    .art04 {
        width: 80%;
    }
}
.art04 .mod01 {
    gap:1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
@media only screen and (min-width:1350px) {
    .art04 .mod01 {
        justify-content: space-between;
    }
}
.art04 >div {
    width: 100%;
    
}
.art04 .mod01 >:nth-child(1) {
    width: 100%;
    padding: var(--padTexto);
    row-gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@media only screen and (min-width:1350px) {
    .art04 .mod01 >:nth-child(1) {
        width: 45%;
    }
    .art04 .mod01 >:nth-child(1) a {
    position: relative;
    left: -47.5%;
    }
}
.art04 .mod01 >:nth-child(2) {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
@media only screen and (min-width:1350px) {
    .art04 .mod01 >:nth-child(2) {
        width: 50%;
    }
}
.art04 .mod02 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 1.5rem;
}
.art04 .mod02 >div {
    width: 100%;
    padding: var(--padTexto);
    background-color: var(--colormio00);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.art04 .mod02 >div img {
    border-radius: 50%;
}
.art04 .mod02 >div >p {
    width: 100%;
}
@media only screen and (min-width:800px) {
    .art04 .mod02 >div >p {
        width: 83%;
    }
}
@media only screen and (min-width:1350px) {
    .art04 .mod02 >div >p {
        width: 60%;
    }
}

/* RECURSOS------- */
/* ARTÍCULO TIPO 5 */

.art05 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 1.5rem;
}
@media only screen and (min-width:800px) {
    .art05 {
        width:80%;
    }
}

.art05 >:nth-child(1) {
    padding: var(--padTexto);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 1.5rem;
}
.art05 >:nth-child(2) {
    width: 100%;
    padding: var(--padTexto);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1.5rem;
}
@media only screen and (min-width:800px) {
    .art05 >:nth-child(2) .ficha {
        width: 48%;
    }
}
@media only screen and (min-width:1350px) {
    .art05 >:nth-child(2) .ficha {
        width: 23%;
    }
}
.art05 .ficha {
    width: 100%;
    padding: var(--padTexto);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}
.art05 .ficha img {
    border-radius: 50%;
}
.art05 .ficha >p {
    width: 100%;
}

.art05 .ficha .firma {
    font-style: italic;
    color: var(--colormio03);
}
/* RECURSOS------- */
/* ARTÍCULO TIPO 6 */
.art06 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 1.5rem;
}
@media only screen and (min-width:1350px) {
    .art06 {
        width: 80%;
        row-gap: 3rem;
    }
}




