/* parametros generales */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

nav,header,main,footer,body {
    width: 100%;
    max-width: 2560px;
}

:root {
    --color01:white;
    --color02:rgb(36, 35, 35);
    --color03:#D8D8FF;

    --fuente1: Verdana;
    --fuente2: Arial;
}

.fondoazul {
    background-color: var(--color03);
}


/* etiquetas */

 nav {
    height: 60px;
    background-color:var(--color03);
    position: fixed;
    top:0;  
 }

 header {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url('https://dummyimage.com/300x600');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
 }


 section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
 }

 a {
    text-decoration: none;
 }

 /* estilos de texto */
 
 h1 {
    font-family: var(--fuente1);
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    color: var(--color03);
 }

 h2 {
    font-family: var(--fuente1);
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: var(--color02);
 }

 h3 {
    font-family: var(--fuente1);
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
    color: var(--color02);
}

p {
  font-family: var(--fuente1);
  font-size: 18px;
  line-height: 27px;
  color: var(--color02);
}

.centrado {
   text-align: center;
}

/*displays*/

.frowC {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.fcolSC {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    gap: 1.5rem; 
}

@media only screen and (max-width:1000px) {
  .fcolSC {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
    
    



.fwrap {
    flex-wrap: wrap;  
}

/*boton*/
  
.boton {
    padding: 1rem;
    background-color: var(--color03);
    font-family: var(--fuente1);
    color: var(--color02);
    }

@media only screen and (max-width:1530px) {
.boton {
 margin-top: 1rem;
}
}

/*anchos*/

.w100{
     width: 100%;
    }

 
.w80{
      width: 80%;
    }


@media only screen and (max-width:1000px) {

  .w80{
    width: 100%;
  }
}




.w60 {
      width: 60%;
      padding-top: 1.5rem;
      }
 
/*columnas*/


/* 2 columnas*/

.doscolizq {
      width: 48%;
      max-width: 1000px;
      min-width: 600px;
    }

@media only screen and (max-width:1530px){
.doscolizq {
    width: 108%;
    max-width: 1530px;
    min-width: 400px;
    background-color: aquamarine;
  }
}
 
.doscolder {
      width: 48%;
      padding-top: 1.5rem;
    }

@media only screen and (max-width:1530px) {
  .doscolder {
    width:80%;   
  }
}
 
/* 3 columnas*/
.trescol {
      width: 30%;
      max-width: 600px;
      min-width: 300px;
    }

/*paddings y margenes*/

.pt70 {
padding-top: 70px;
}

.pt50 {
  padding-top: 50px;
}



