/* RESETS */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
a, a:visited{
    color: inherit;
    text-decoration: none;
}
ul, ol{
    list-style: none;
}
/* VARIABLES */
:root{
    --color00: white;
    --color01: rgb(44, 44, 44);
    --color02:rgb(216, 216, 255);
    --fuente01: Verdana, Geneva, Tahoma, sans-serif;
    --fuente02: Arial, Helvetica, sans-serif;
}
/* TAGS PRINCIPALES */
body, section{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
nav, header, main, footer{
    width: 100%;
    max-width: 100%;
}
/* desktop */
@media only screen and (min-width:1350px) {
    nav, header, main, footer{
        max-width: 2560px;
    }
}
section{
    padding: 4rem 0;
    row-gap: 4rem;
}
main >:nth-child(odd){
    background-color: var(--color00);
}
main >:nth-child(even){
    background-color: var(--color02);
}

/* ENCABEZADOS, ETC */
h1, h2, h3{
    font-family: var(--fuente01);
}
p, a{
    font-family: var(--fuente02);
}
h1{
    font-size: 3rem;
    letter-spacing: 4px;
    color: var(--color02);
    padding: 0 2rem;    
    text-align: center;
}
h2{
    font-size: 2rem;
    letter-spacing: 2px;
    color: var(--color01);
    padding: 0 2rem;
}
h3{
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: var(--color01);
}
p{
    font-size: 1.1rem;
    line-height: 1.4rem;
    color: var(--color01);
}

/* CLASES GLOBALES */
.boton{
    font-size: 1.3rem;
    letter-spacing: 2px;    
    padding: 0.3rem 2rem;
    border-radius: 5px;
    color: var(--color01);
    background-color: var(--color02);
    transition: 0.2s ease-in-out;
}
.boton:hover{
    color: var(--color00);
    background-color: var(--color01);
}
.boton:active{
    transform: scale(.95);
}

/*  */
nav{
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: var(--color02);
}
header{
    height: 100vh;
    background-image: url('https://dummyimage.com/300x600');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;

}
@media only screen and (min-width:800px){
    header{
        background-image: url('https://dummyimage.com/800x600');
    }
}
@media only screen and (min-width:1350px){
    header{
        background-image: url('https://dummyimage.com/1400x600');
    }
}
header h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* RECURSOS------- */
/* ARTÍCULO TIPO 1 */
.art01{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap:1rem;
}
/* tablet */
@media only screen and (min-width:800px) {
    .art01{
        width: 90%;
    }
}
.art01 >:nth-child(1){
    width: 100%;
    overflow: hidden;
}
/* tablet */
@media only screen and (min-width:800px) {
    .art01 >:nth-child(1){
        width: 50%;
        overflow: hidden;
    }      
}
.art01 >:nth-child(1) img{
    width: 100%;
    height: 100%;
    filter:saturate(0);
    object-fit: cover;
    transition: 1s;
}
.art01:hover >:nth-child(1) img{
    transform: scale(1.1);
    filter:saturate(1)
}
.art01 >:nth-child(2){
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 1.5rem;
}
/* tablet */
@media only screen and (min-width:800px) {
    .art01 >:nth-child(2){
        width: 40%;
    }      
}


/* ARTÍCULO TIPO 2 */
.art02{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap:1rem;
}
/* tablet */
@media only screen and (min-width:800px) {
    .art02{
        width: 90%;
    }
}
.art02 h3, .art02 >p{
    padding: 0 1rem;
}
@media only screen and (min-width:800px) {
    .art02 >p{
        width: 80%;
    }
}
.art02 .matrix3{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
}
.art02 .matrix3 >div{
    width: 100%;
    overflow: hidden;
}
@media only screen and (min-width:800px){
    .art02 .matrix3 >div{
        width: 30%;
        max-width: 600px;
    }
}
.art02 .matrix3 >div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
}
.art02 .matrix3 >div img:hover{
    transform: scale(1.1);
}

/* ARTÍCULO TIPO 3 */
.art03{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
}
.art03 >:nth-child(1){
    width: 100%;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 1.5rem;
}
.art03 .matrix4{
    
}

