*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;

}
@font-face{
font-family:"IndieFlower-Regular" ;
src: url(../fonts/IndieFlower-Regular.ttf);
}

/* Variables */
:root {
    --color01: #b37bad;
    --color02: rgba(9, 9, 9, 1);
    --fuente01: "Lobster Two", sans-serif;
    --fuente02: 'IndieFlower-Regular';
}

body{
width: 100%;
}
                                          
nav,main,header,footer{
width: 100%;
max-width: 2500px;

}
section{
    width: 100%;
    padding-bottom: 70px;
}
article{
    width: 90%;
    margin-top: 40px;  
}

@media only screen and (max-width: 800px) {

nav,main,header,footer{
    width: 100VW;
    max-width: 400px;
        
}
section{
    width: 100%;
    padding-bottom: 20px;
}
article{
    width: 90%;
    margin-top: 20px;  
}



}   
nav{
display: flex;
flex-direction: row;
justify-content: space-between;
padding:0.5rem 2rem;
background-color: #b37bad;
height: 180px;
}


@media only screen and (max-width: 800px) {

nav,main,header,footer,section,article {
    width: 100vw; 
}

nav {
padding: 1.5rem 1.5rem;
width: 100vw;
height: 140px;

}
nav img{
    height: 2.5rem;

}
}

header{
width: 1920px;
height:1080px;
background-image: url("https://dummyimage.com/1920x1080");
background-repeat: no-repeat;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
margin-bottom:60px ;
}

header div{
display: block;
flex-direction: column;
text-align: center;
row-gap: 1rem;
display: flex;
justify-content: center;
align-items: center;

}
@media only screen and (max-width: 800px) {

header{
  width: 100vw; 
  height: 400px;
}
header div{
row-gap: 0rem;
}
}


h1{
    font-family: var(--fuente02);
    font-weight: 700;
    font-size: 100px;
}
h2{ font-family: var(--fuente02);
    font-weight: 700;
    font-size:3.5rem;;
}

h3{ font-family: var(--fuente02);
    font-weight: 700;
    font-size: 2.6rem;
}

h4 {
    font-family: var(--fuente02);
    font-weight: 700;
    font-size: 2rem;
}   

p{ 
    font-family: var(--fuente01);
    font-weight: 100;
    font-size: 1.5rem;
}

@media only screen and (max-width: 800px) {

h1,h2{
    font-size: 2rem;
    line-height: 40px;
    letter-spacing: 0.5px;
    margin-bottom: 1.5rem;
}
    
h3,h4{
 font-size: 1.5rem;
}

p { 
 font-size: 1rem;
}




}

/*Tamaños y flex*/

.w100{
    width: 100%;
    margin: auto;
}

.w90{
    width:90% ;
}
.w50{
    width: 50%;
}
.w40{
    width: 40%;
}
.w60{
   width: 60%; 
}


@media only screen and (max-width: 800px) {
.w100,.w90,.w80,.w60,.w40{
    width: 90%;
}
}


/*  posiciones de caja*/

.frowc{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap:2rem;
}

.flexcolc{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.flexstart{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.flexsend{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.fcolSC{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: flex-start;
        text-align: center;        
}

.textcentr{
    text-align: center;
    flex-direction: column;
    display: flex;   
}

.textoizq{
    text-align: left;
    flex-direction: column;
    row-gap: 2rem;
    display: flex;
}

.wrap{
    flex-wrap: wrap;
  
}
.fuera{
    display: none;
}


@media only screen and (max-width: 800px) {
    
.flexrowc,.flexsend,.flexstart,.flexsend{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    row-gap: 1.5rem;
    
    }
.textoizq{
        text-align: center;
        flex-direction: column;
        justify-content: center;
        row-gap: 0.5rem;
        align-items: center;
        display: flex;
}

.colum1{
    order:  2;
}
 
.colum2{
    order:  1;
}
.fueramov{
    display: none;
}
}

/* Botones */
.boton{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color01);
    width: 200px;
    padding: 10px ;
    background-color: var(--color02);
    margin-top:1.5rem;
    transition-duration:  0.5s;
    text-decoration: none;
    border-radius: 5%;
    text-align: center;  
 }

 
 
 :hover.boton{
     background-color: var(--color01);
     color: var(--color02); 
 }
 
 @media only screen and (max-width: 800px) {
 
 .boton{
     font-weight: 400;
     width: 100px;
     padding: 5px;
     margin-top: 1rem;
     font-size: 1rem;;
 }
      
 }    
 
/* Mis estilos */
.primera{
    display: flex;
    justify-content: center;
    flex-direction:row;
    align-items: center;   
    
}
.primera div{
    text-align: left;
    row-gap: 0.5rem;
    align-items: start;
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 40px; 

}

@media only screen and (max-width: 800px) {
.primera{
    gap: 0rem;
    width:100%;
    flex-direction:column; 
    align-items: center;
    display: flex;
    justify-content: center;
    
}  
.primera img{
    width: 100vw; 
    height: 400px;
}
.primera div{
    width: 100%;
}
}

.segunda{
    display: flex;
    flex-direction: row;
    justify-content: center;
   align-items: wrap;
    align-items: center;
    column-gap:1rem;
    width: 80%;
    margin-top: 40px;
}


@media only screen and (max-width: 800px) {

.segunda,.cuarta,.quinta{
    gap: 0rem;
    width: 100%;
    flex-direction:column;  
}  
}


.tercera{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}
.tercera div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}

@media only screen and (max-width: 800px) {
.tercera div{
        gap: 0rem;
        width: 100%;
        flex-direction:column;  
        justify-content: center;
        align-items: center;
}  
}

.cuarta{
    display: flex;
    justify-content: center;
    flex-direction:row;
    align-items: center; 
}

.cuarta div{
    text-align: left;
    column-gap: 4rem;
    align-items: start;
    display: flex;
    flex-direction: column;
    width: 40%; 
    margin-right: 30px;
}

.caja4{

   width: 100%;
    text-align: left;
   column-gap: 2rem;
    display: flex;
    flex-direction:row;
    justify-content: start;
    align-items: center;
 } 

.caja4 img{
    border-radius: 80px;
}

.quinta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    column-gap:1rem;
    width: 100%;
    margin-top: 40px;;
}

 @media only screen and (max-width: 800px) {

.caja4{
    align-items: center;
    margin-top: 0.5rem;
    min-width: 300px;
    max-width: 650px;
   width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
    
}

.caja4 img{
    width: 100px;  
    height: 100px;
}
}

/* Footer */

footer{
background-color: var(--color01);
height: 400px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 4rem 8rem;
margin: top 60px;

}
footer li {
    list-style: none;
}
footer li a{
 color: var(--color02);
}


@media only screen and (max-width: 800px) {

footer{
    height: 200px;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    font-size: 12px;
    line-height: 10px;
}


footer div img {
height: 2rem;
}

footer ul li a{
display: none;
}

}
.fondo{
    background-color: blueviolet;
}
.fondo2{
    background-color: rgb(92, 29, 10);
}